/*******************************
	All Responsive Code
*******************************/
@media (min-width: 992px) and (max-width: 1199px) {
	
}

@media (max-width: 991.98px) {
	header {
		padding-top: 78px;
	}
	#menu {
		background-color: rgba(7,7,7,0.9);
	}
	#menu .navbar-nav .nav-item {
		margin-left: 0px;
	}
	#menu .navbar-nav .nav-item .nav-link {
		padding: 15px 0px;
	}
	#menu .navbar-nav .nav-item .nav-link:after {
		top: 100%;
	}
	.last_child:not(:last-child) {
		margin-bottom: 40px;
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.last_child:nth-last-of-type(2) {
		margin-bottom: 0px;
	}
}

@media (min-width: 576px) and (max-width: 767.98px) {
	#banner .banner_overlay {
		background-color: rgb(0, 0, 0, 0.8);
	}
	#banner .banner_slider .slider-item h2 {
		margin-top: 45px;
	}
	.last_child:nth-last-of-type(2) {
		margin-bottom: 0px;
	}
	#watch {
		padding: 100px 15px;
	}
	#price .col-md-4:not(:last-child) {
		margin-bottom: 40px;
	}
}

@media (max-width: 575.98px) {
	#menu .navbar-nav .nav-item .nav-link {
		text-align: center;
		padding: 10px 0px;
		z-index: 9999999;
	}
	#menu .navbar-nav .nav-item .nav-link:after {
		top: 0;
		height: 100%;
		z-index: -99999;
	}
	#menu .navbar-nav .nav-item .nav-link:hover,
	#menu .navbar-nav .nav-item.active .nav-link {
		color: #ffff;
	}
	#banner .banner_overlay {
		background-color: rgb(0, 0, 0, 0.8);
	}
	#banner .banner_slider .slider-item h2 {
		margin-top: 45px;
	}
	#banner .banner_slider .slider-item a.button.b {
		margin-top: 20px;
	}
	#features .features_item .fet_item_text {
		padding: 0px 50px;
	}
	.only_middle_gap {
		margin-left: -15px;
		margin-right: -15px;
	}
	#gallery .gallery_item .gallery_img .gall_img_overlay {
		border-radius: 12px;
	}
	#gallery .gallery_item .gallery_img .overlay_caption {
		border-radius: 0px 0px 12px 12px;
	}
	#watch {
		padding: 50px 15px;
	}
	#price .col-md-4:not(:last-child) {
		margin-bottom: 40px;
	}
	#footer p.text {
		text-align: left;
	}
}
@media (max-width: 500px) {
	#testimonial .test_slider .slider-item {
		flex-direction: column;
	}
	#testimonial .test_slider .test_img {
		padding-right: 0;
		margin-bottom: 15px;
	}
	#testimonial .test_slider .owl-dot {
		width: 30px;
	}
}
@media (max-width: 420px) {
	#features .features_item .fet_item_text {
	    padding: 0px;
	}
}

@media (max-width: 320px) {

}