/* ==========================================
    Reset Css
========================================== */
@charset "utf-8";
/* CSS Document
	Website: Creative Pages
	Website URL: http://www.creative-pages.github.io
	Development By: creative-pages
	Author: Md Arif Hossain
	Author URL: www.arifbd.com
	Author Email: arifh3261@gmail.com
	Language: HTML5.CSS3,JavaScript,Jquery,Bootstrap,PHP(OOP),MySql etc.
*/
* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}
body {
	overflow-x: hidden;
}
img {
	border: 0;
}
dl, ul, ol {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
.clr {
	clear: both;
}
a, a:hover, a:focus {
	text-decoration: none;
	outline: 0;
}
body {

}
/* common thing start */
.common_header {
	width: 100%;
	text-align: center;
	margin-bottom: 30px;
}
.common_header h2 {
	color: #007bff;
	font-family: PTSans-Bold;
	font-size: 30px;
	text-transform: uppercase;
}
/* common thing end */
::selection {
	background: #274448;
	color: #fff;
}
::-moz-selection {
	background:#274448;
	color:#fff;
}
body::-webkit-scrollbar {
	width:.5em;
}
body::-webkit-scrollbar-track {
	-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.5);
}
body::-webkit-scrollbar-thumb {
	background-color: #007bff;
	outline:2px solid #fff;
}
@font-face {
	font-family: ;
	src: url("");
}
@font-face {
	font-family: OpenSans-Light;
	src: url(../fonts/Open_Sans/OpenSans-Light.ttf);
}
@font-face {
	font-family: OpenSans-Regular;
	src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
}
@font-face {
	font-family: OpenSans-Bold;
	src: url(../fonts/Open_Sans/OpenSans-Bold.ttf);
}
@font-face {
	font-family: OpenSans-ExtraBold;
	src: url(../fonts/Open_Sans/OpenSans-ExtraBold.ttf);
}
@font-face {
	font-family: Lato-Regular;
	src: url(../fonts/Lato/Lato-Regular.ttf);
}
@font-face {
	font-family: Lato-Bold;
	src: url(../fonts/Lato/Lato-Bold.ttf);
}
@font-face {
	font-family: PTSans-Regular;
	src: url(../fonts/PT_Sans/PTSans-Regular.ttf);
}
@font-face {
	font-family: PTSans-Bold;
	src: url(../fonts/PT_Sans/PTSans-Bold.ttf);
}
/*-------contact icon fixed start--------*/
.con_fixed {
	position: fixed;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	z-index: 999999;
}
.con_fixed ul li a {
	width: 35px;
	height: 35px;
	text-align: center;
	line-height: 35px;
	display: block;
	background-color: #007bff;
	color: #ffff;
	margin-bottom: 1px;
}
/*-------contact icon fixed end--------*/

/*-------header part start--------*/
header {
	width: 100%;
	position: relative;
	z-index: 999999;
}
/* header top */
.margin_prob {
	margin-top: 58px;
}
.fixed {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background: #fff;
  -webkit-transition: all linear 0.4s;
  -moz-transition: all linear 0.4s;
  -ms-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
  transition: all linear 0.4s;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.35);
}
#header_top {
	background-color: #000;
	padding: 8px 0px;
}
#header_top ul li {
	float: left;
}
#header_top ul li a {
	color: #ffff;
	font-size: 14px;
}
#header_top .top_left li {
	margin-right: 10px;
}
#header_top .top_right li a {
	font-size: 16px;
	padding: 0px 10px;
	display: block;
}
/* header main */
#header_main {
	background-color: #007bff;
}
#header_main .navbar {
	padding: 8px 0px;
}
#header_main .navbar .navbar-brand h1 {
	color: #ffff;
}
#header_main .navbar-light .navbar-toggler {
	background-color: #ffff;
	border: none;
}
#header_main .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgb(0, 136, 204)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
#header_main .navbar-light .navbar-nav .nav-item {
	margin-right: 1px;
}
#header_main .navbar-light .navbar-nav .nav-link {
	padding: 12px 14px;
	text-transform: uppercase;
	font-size: 14px;
	color: #ffff;
	font-family: PTSans-Regular;
	transition: all linear 0.3s;
}
#header_main .navbar-light .navbar-nav .nav-link:hover,
#header_main .navbar-light .navbar-nav .nav-item.active {
	background-color: #ffff;
	color: #007bff;
}
#header_main .navbar-light .navbar-nav .nav-item.active .nav-link {
	color: #007bff;
}
/*-------header part end---------*/

/*-------banner part stert---------*/
#banner {
	
}
#banner .slider_item {
	background-repeat: no-repeat;
	/* background-position: center center; */
	background-size: cover;
	height: 450px;
}
#banner .b_slider .owl-nav .owl-prev, 
#banner .b_slider .owl-nav .owl-next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 40px;
	height: 40px;
	text-align: center;
	background-color: rgba(250, 250, 250, 0.8)!important;
	line-height: 40px;
	color: #000!important;
	font-size: 25px!important;
	transition: all ease-out 0.3s;
	opacity: 0;
}
#banner:hover .b_slider .owl-nav .owl-prev,
#banner:hover .b_slider .owl-nav .owl-next {
	opacity: 1;
}
#banner .b_slider .owl-nav .owl-prev {
	left: 50px;
}
#banner .b_slider .owl-nav .owl-next {
	right: 50px;
}
#banner .b_slider .owl-nav .owl-prev:hover, 
#banner .b_slider .owl-nav .owl-next:hover {
	background-color: #000!important;
	color: rgba(250, 250, 250, 0.8)!important;
}
#banner .b_slider .owl-dots {
	position: absolute;
	left: 50%;
	bottom: 30px;
	transform: translateX(-50%);
}
#banner .b_slider .owl-dot {
	width: 16px;
	height: 16px;
	margin: 0px 10px;
	border: 2px solid #007bff!important;
	background-color: #fff!important;
	transition: all ease-out 0.3s;
	float: left;
}
#banner .b_slider .owl-dot:hover {
	background-color: #007bff!important;
}
#banner .b_slider .owl-dot.active {
	background-color: #007bff!important;
	transform: rotate(45deg);
}
#banner .banner_content {
	background-color: rgba(250, 250, 250, 0.8);
	height: 450px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#banner .banner_content h2 {
	font-size: 28px;
	color: #007bff;
	font-family: OpenSans-Bold;
	margin-bottom: 20px;
}
#banner .banner_content p {
	font-size: 18px;
	line-height: 24px;
	color: #007bff;
	font-family: OpenSans-Regular;
	margin-bottom: 30px;
}
#banner .banner_content a {
	display: inline-block;
	padding: 8px 14px;
	font-size: 14px;
	background-color: #007bff;
	color: #fff;
	text-transform: uppercase;
	font-family: OpenSans-Semibold;
}
/*-------banner part end---------*/

/*-------service part stert---------*/
#service {
	
}
#service .ser_parts {
	display: block;
	padding: 50px 25px;
	text-align: center;
	color: #ffff;
	margin-bottom: 40px;
	position: relative;
}
#service .ser_parts:before {
	content: "";
	position: absolute;
	left: 10px;
	top: 0;
	width: 5px;
	height: 100%;
	background-color: #ffff;
}
#service .ser_parts:after {
	content: "";
	position: absolute;
	top: 10px;
	left: 0px;
	width: 100%;
	height: 5px;
	background-color: #ffff;
}
#service .ser_parts.s1 {
	background-color: #007bff;
	transform: rotate(-18deg);
}
#service .ser_parts.s2 {
	background-color: #673ab7;
	transform: rotate(-10deg);
}
#service .ser_parts.s3 {
	background-color: #e91e63;
	transform: rotate(18deg);
}
#service .ser_parts.s4 {
	background-color: #4caf50;
	transform: rotate(18deg);
}
#service .ser_parts.s5 {
	background-color: #ff33cc;
	transform: rotate(10deg);
}
#service .ser_parts.s6 {
	background-color: #ff5722;
	transform: rotate(-18deg);
}
#service .ser_parts h3 {
	font-size: 22px;
	margin-bottom: 16px;
	font-family: OpenSans-Bold;
}
#service .ser_parts p {
	font-size: 17px;
	font-family: OpenSans-Regular;
}

svg {
	transform: rotate(180deg);
}
.bg-white {
    background-color: #fff!important;
}
.svg-themecolor {
    fill: var(--themecolor,#007bff);
}

/*-------service part end---------*/

/*-------portfolio part start---------*/
#portfolio {
	padding: 30px 0px 0px;
	background-color: #F0F0F0;
}
#portfolio .port_parts {
	padding: 15px 30px 35px;
	background-color: #ffff;
	position: relative;
	margin-bottom: 30px;
}
#portfolio .port_parts:before {
	position: absolute;
	top: 0;
	left: 10px;
	content: "";
	width: 10px;
	height: 100%;
	background-color: #007bff;
}
#portfolio .port_parts:after {
	position: absolute;
	right: 0;
	bottom: 15px;
	content: "";
	width: 70%;
	height: 50%;
	background-color: #007bff;
}
#portfolio .port_parts h3 {
	font-size: 25px;
	text-transform: uppercase;
	
	padding: 8px 10px;
	background-color: #007bff;
	color: #ffff;
	margin-bottom: 15px;
}
#portfolio .port_parts img {
	height: 260px;
	width: 100%;
	z-index: 99999;
	position: relative;
	box-shadow: 0px 0px 8px black;
}
svg.portfolio {
	transform: rotate(0deg);
	margin-bottom: -6px;
}
/*-------portfolio part end---------*/

/*-------work part start---------*/
#work .common_header {
	position: relative;
    margin-top: -80px;
}
#work {
	padding: 0px 0px 20px;
}
.fancybox-container {
	z-index: 999999999;
}
#work .work_parts {
	position: relative;
}
#work .work_parts img {
	width: 100%;
	height: 260px;
}
#work .work_parts .popup_link {
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	height: 100%;
	background-color: rgb(0, 0, 0, 0.8);
	font-size: 20px;
	color: #ffff;
	text-align: center;
	line-height: 260px;
	opacity: 0;
}
#work .work_parts:hover .popup_link {
	width: 100%;
	opacity: 1;
	transition: 0.5s;
}
#work h3 {
	background-color: #007bff;
	padding: 8px 10px;
	text-align: center;
	font-size: 22px;
	color: #ffff;
}
#work .mb_30 {
	margin-bottom: 30px;
}
/*-------work part end---------*/

/*-------clients part start---------*/
svg.clients_svg {
	transform: rotate(0deg);
	margin-bottom: -6px;
}
.bg-white {
    background-color: #fff!important;
}
.svg-themecolor {
    fill: var(--themecolor,#007bff);
}

#clients {
	padding-bottom: 40px;
    background: var(--themecolor,#007bff);
    background: -moz-linear-gradient(top,var(--themecolor,#007bff) 10%,#FFF 100%);
    background: -webkit-linear-gradient(top,var(--themecolor,#007bff) 10%,#FFF 100%);
    background: linear-gradient(to bottom,var(--themecolor,#007bff) 10%,#FFF 100%);
}
#clients .common_header {
	margin-top: -60px;
	position: relative;
	z-index: 999;
}
#clients .common_header h2 {
	color: #ffff;
}
#clients .clients_slider .owl-dots {
	position: absolute;
	left: 50%;
	bottom: -25px;
	transform: translateX(-50%);
}
#clients .clients_slider .owl-dot {
	width: 10px;
	height: 10px;
	margin: 0px 6px;
	background-color: gray!important;
	float: left;
	border-radius: 50%;
}
#clients .clients_slider .owl-dot:hover,
#clients .clients_slider .owl-dot.active {
	background-color: #007bff!important;
}
#clients .slider-item {
	padding: 15px;
	background-color: #ffff;
}
#clients .slider-item .clients_parts {
	background-color: #007bff;
	padding: 20px 30px 20px 40px;
	border-radius: 5px;
	position: relative;
	margin-bottom: 25px;
}
#clients .slider-item .clients_parts p {
	font-family: Lato-Regular;
	color: #ffff;
	font-size: 18px;
	position: relative;
}
#clients .slider-item .clients_parts p:before {
	left: -30px;
    top: -15px;
    color: #FFF;
    content: "“";
    font-size: 85px;
    font-style: normal;
    line-height: 1;
    position: absolute;
}
#clients .slider-item .clients_parts:after {
	content: "";
	position: absolute;
	bottom: -30px;
	right: 20px;
	border-width: 15px;
	border-style: solid;
	border-color: #007bff transparent transparent transparent;
}
#clients .slider-item .clients_info {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
}
#clients .slider-item .clients_text {
	padding-right: 10px;
}
#clients .slider-item .clients_text h4 {
	color: #111;
    font-size: 18px;
    font-family: OpenSans-Bold;
    margin-bottom: 3px;
}

#clients .slider-item .clients_img {
	width: 70px;
	height: 70px;
}
#clients .slider-item .clients_img img {
	border-radius: 50%;
}
/*-------clients part end---------*/

/*-------team part steat---------*/
#team {
	padding: 20px 0px 40px;
}
#team .team_slider .owl-dots {
	position: absolute;
	left: 50%;
	bottom: -25px;
	transform: translateX(-50%);
}
#team .team_slider .owl-dot {
	width: 10px;
	height: 10px;
	margin: 0px 6px;
	background-color: gray!important;
	float: left;
	border-radius: 50%;
}
#team .team_slider .owl-dot:hover,
#team .team_slider .owl-dot.active {
	background-color: #007bff!important;
}
#team .slider-item .team_parts {
	background-color: #007bff;
	padding: 20px 30px 20px 40px;
	border-radius: 0px 8px 8px 0px;
}
#team .slider-item .team_parts p {
	font-family: Lato-Regular;
	color: #ffff;
	font-size: 18px;
	position: relative;
}
#team .slider-item .team_parts p:before {
	left: -30px;
    top: -15px;
    color: #FFF;
    content: "“";
    font-size: 85px;
    font-style: normal;
    line-height: 1;
    position: absolute;
}
#team .slider-item .team_info {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	position: relative;
}
#team .slider-item .team_info:before,
#team .slider-item .team_info:after {
	content: "";
	position: absolute;
	left: 60%;
	bottom: 0px;
	width: 200px;
	height: 20px;
	background-color: #007bff;
	transform: rotate(-45deg);
}
#team .slider-item .team_info:after {
	left: 50%;
	bottom: 0px;
}
#team .slider-item .team_text h4 {
	color: #111;
    font-size: 18px;
    font-family: OpenSans-Bold;
    margin-bottom: 3px;
    margin-top: 10px;
}
#team .slider-item .team_img img {
	width: 100px;
	height: 100px;
	margin-right: 20px;
}
#team .slider-item .team_text .team_social {
	margin-top: 5px;
}
#team .slider-item .team_text .team_social a {
	display: inline-block;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	background-color: #007bff;
	color: #ffff;
}
/*-------team part end---------*/

/* contact page start here */
/*-------breadcrumb part start---------*/
#breadcrumb {
	background-color: #e9ecef;
}
.breadcrumb {
	margin-bottom: 0;
}
/*-------breadcrumb part end---------*/

/*-------address part start---------*/
#address {
	margin: 50px 0px 30px;
}
#address .address_parts {
	width: 100%;
	height: 150px;
}
#address .address_parts h3 {
	padding: 5px 10px;
	font-family: PTSans-Bold;
	font-style: italic;
	background-color: #007bff;
	color: #ffff;
	margin-bottom: 15px;
}
#address .address_parts p,
#address .address_parts a {
	font-size: 20px;
	margin-top: 10px;
	color: #000;
	display: block;
}
#address .address_parts p i,
#address .address_parts a i {
	margin-right: 5px;
	color: #007bff;
}
#address .ft_social {
	margin-top: 10px;
}
#address .ft_social a {
	margin: 5px 5px 0px 0px;
}
#address .ft_social a i {
	color: #fff;
}
/*-------address part end---------*/


/* about page start here */
/*-------about part start---------*/
#about {
	padding: 50px 0px;
}
#about .about_slider .ab_slide_link img {
	width: 100%;
	height: 300px;
}

#about .about_slider .owl-dots {
	position: absolute;
	left: 50%;
	bottom: 20px;
	transform: translateX(-50%);
}
#about .about_slider .owl-dot {
	width: 14px;
	height: 14px;
	border-radius: 50%;
	margin: 0px 5px;
	border: 2px solid #007bff!important;
	background-color: #fff!important;
	transition: all ease-out 0.3s;
	float: left;
}
#about .about_slider .owl-dot:hover {
	background-color: #007bff!important;
}
#about .about_slider .owl-dot.active {
	background-color: #007bff!important;
}
#about h3,
#why h3
 {
	background-color: #007bff;
	padding: 5px 10px;
	color: #ffff;
	margin-bottom: 15px;
	text-transform: uppercase;
}
#about p,
#why p
 {
	text-align: justify;
}
#about .md_block {
		display: none;
	}
/*-------about part end---------*/

/*-------why part start---------*/
#why {
	padding: 50px 0px;
	background-color: #e5ebf1;
}
#why p {
	font-size: 17px;
}
#why .progress {
	background-color: #ffff;
}
#why .progress,
#why .progress-bar {
	height: 20px;
	margin-bottom: 10px;
	font-size: 17px;
}
/*-------why part end---------*/




/*-------banner part start---------*/

/*-------banner part end---------*/

/*-------footer part end---------*/
#footer {

}
.footer_top {
	background-color: #000;
	padding: 30px 0px 0px;
}
.footer_top .footer_about ,
.footer_top .footer_address {
	margin-bottom: 30px;
}
.footer_top .footer_about h3 {
	color: #fff;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 30px;
    text-transform: uppercase;
    margin-top: 20px;
}
.footer_top .footer_about p {
	line-height: 1.83;
    color: rgba(255, 255, 255, 0.6);
    font-size: 15px;
    word-wrap: break-word;
    text-align: justify;
    font-family: OpenSans-Light;
}
.footer_address {
	height: 100%;
}
.footer_address h3{
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 30px;
    text-transform: uppercase;
    margin-top: 20px;
}
.footer_address p{
    color: rgba(255, 255, 255, 0.6);
}
.footer_address ul{
    margin-top: 20px;
}
.footer_address ul li{
    margin-bottom: 7px;
}
.footer_address ul li a{
    color: rgba(255, 255, 255, 0.6);
}
.footer_address ul li a:hover{
    color: #fff;
}
.footer_icon{
    margin-right: 5px;
}
.ft_social {
	margin-top: 20px;
}
.ft_social a {
	display: inline-block;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	background-color: #007bff;
	margin-right: 5px;
}
.ft_social a i {
	color: #ffff;
}
.footer_top .copy_right {
	color: #ffff;
	margin-top: 40px;
}
.footer_bottom {
	background: #007bff;
	padding: 10px 0 5px;
}
.footer_bottom p {
	color: #ffff;
	font-size: .8em;
	margin: 0;
}
.footer_bottom p i {
	color: #fff;
	font-size: 1.5em;
	margin-right: 5px;
}
.footer_bottom p span {
	color: #fff;
	font-size: 1.5em;
	font-family: PTSans-Bold;
	letter-spacing: -1px;
}
/*-------footer part start---------*/

/* top-to start */
.top_to i {
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 4px 4px 0px 0px;
  background-color: blue;
  color: #fff;
  text-align: center;
  font-size: 14px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999999;
  cursor: pointer;
  display: none;
}
/* top-to end